.divElInf{
	border-top-style: inset;
	border-top-color: #eeeeec;
	border-top-width: 0.5px;
}
.divElInf:hover{
	background-color:  #e7e7e4;
}

.imgDivInf{
	display: inline-block;
	float: left;
	margin: 10px 10px 0px 0px;
}

.applImgInf{
	width: auto;
	height: 80px;
	border-radius: 50%;
}

.infoDivInf{
	display: inline-block;

}

.textCss2Inf{
	color: #008b8b;
	font-size: 1em;
	font-weight: bold;
}

.textCss3Inf{
	font-size: 0.9em;
	margin: 0px;
}

.textCss1Inf{
	color: #888a85;
	font-size: 0.875em;
}

.btnDiv{
	background-color: #006666;
}

.editBtn{
	float: right;
}

.btnFont{
	color: #003333;
	font-size: 0.8em;
	border-radius: 2px;
	margin: 5px;
}













