.searchBar {
    background-color: #2F4F4F;
    display: flex;
}

.searchDivEle{
    display: inline-block;
    margin-left: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.logoDiv{
    float: left;
}
.logoDiv:hover{
    background-color: #264040;
    border-radius: 4px;
}

.inputDiv{
    background-color: #e0e5e5;
    border-radius: 4px;
}

.logoImg{
    width: 180px;
    height: 30px;
}

.searchInput{
    background-color: #e0e5e5;
    margin: 5px;
    border: none;
    height: 20px;
    width: 300px;
    outline: none;
}
.searchInput:focus{
    border: 0.5px solid #d3d7cf;
    border-radius: 4px;
}

.searchLabel{
    height: 20px;
    margin: 5px;
}


