.divElInf{
	border-top-style: inset;
	border-top-color: #eeeeec;
	border-top-width: 0.5px;
}
.divElInf:hover{
	background-color:  #e7e7e4;
}

.imgDivInf{
	display: inline-block;
	float: left;
	margin: 10px 10px 0px 0px;
}

.applImgInf{
	width: auto;
	height: 60px;
	border-radius: 50%;
}

.infoDivInf{
	display: inline-block;

}

.textCss2Inf{
	color: #008b8b;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0px;
}

.textCss3Inf{
	font-size: 0.9em;
	margin: 0px;
}

.textCss1Inf{
	color: #888a85;
	font-size: 0.875em;
}

.btnDiv{
	background-color: #006666;
}

.editBtn{
	float: right;
}

.infoBtnFont{
	color: #003333;
	background-color: #f4f4f4;
	border: none;
	font-size: 0.8em;
	border-radius: 12px;
	margin: 5px;
	transition-duration: 0.4s;
}

.infoBtnFont:hover{
	background-color: #003333;
	color:  white;
}












